*{
    padding:0;
    margin:0;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    text-align: center;
    color: #D3D3D3;
    
    
}

#navbar{
    background-color: #0B090A;
    color: #BA181B;
    height:3.2937%;
    width: 100%;
    padding-top: 1.6468%;
    border-color: rgb(36, 35, 35);
    position: relative;
    position: sticky;
    margin-bottom: 0px;
}
#logo{
    padding-right: 38%;
    color:rgb(5, 131, 203);
    font-size: 1.5625rem;
    font-weight: bolder;
    background-color: #0B090A;
    border-color: #0B090A;
    transition: none;
    position: relative;
    bottom: 10px;
}
footer{
    height: 2.108%;
    font-size: 0.75rem;
    background-color: #161A1D;
    color: white;
    text-align: center;
    padding-top: 0.3125rem;
    position: relative;
}

.contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: #070506;
    font-size: 1rem;
    font-weight: bolder;
}

.panel1{
    background-color: #161A1D;
}
.panel2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.90rem;
    background-color: #070506;
}

.part1{
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 0.80rem;
}
.part1 p {
    align-self: flex-start;
    margin: 2px;
    font-weight: 500;
}
.part1 p:hover{
    color: #BA181B;
}
.part1 i:hover{
    color: #B1A7A6;
}

.part1 i {
    color: #BA181B;
}


a{
    margin:0.625rem;
    margin-right: 3.125rem;
    text-decoration: none;
    color: #E5383B;
    font-weight: bold;
    /* border:5px solid black; */
    border-radius: 5px;
    transition: all 1s ease 0s;

}
a:hover{
    background-color: #E5383B;
    border:5px solid #E5383B;
    border-radius: 5px;
    color: #0B090A;
    font-size: 1.5625rem;
}

.icons{
    position: relative;
    bottom: 2.5rem;
}



#enc{
    /* background-image: url(enc3.jpg); */
    background-color: black;
    width:94.875rem;
    height: 40.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3.125rem;
    color: #BA181B;
    text-shadow: #B1A7A6 0px 10px 50px;
    font-size: 4.6875rem;
    position: relative;
    bottom: 3.125rem;
}
h2{
    position: relative;
    bottom: 3.125rem;
}
#title{
    font-size: 1.5625rem;
    font-weight: bolder;
}

#nav2{
    height: 6.875rem;
    border: 2px solid #B1A7A6;
    border-radius: 15px;
    position: relative;
    top: 1.25rem;
    transition: all 1s ease 0s;
}
#nav2:hover{
    scale: 1.25;
    background-image: url(enc3.jpg);
}

.na2{
    position: relative;
    left: 1.25rem;
}

#man{
    position: relative;
    bottom: 2.5rem;
    right: 0.3125rem;
    color: #E5383B;
    font-size: 1.5rem;
    transition: all 1s ease 0s;
}
#man:hover{
    scale: 2;
    color: #B1A7A6;
}